{
  "extends": ["react-app", "react-app/jest", "naver"],
  // "extends": ["eslint:recommended", "airbnb", "prettier", "plugin:prettier/recommended"],
  "env": {
    "browser": true
  },
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "auto"
      }
    ],
    "react/function-component-definition": [2, { "namedComponents": "arrow-function" }],
    // "react/prefer-stateless-function": 0,
    // "react/jsx-one-expression-per-line": 0,
    "react/jsx-filename-extension": 0,
    "import/prefer-default-export": 0
  }
}
